// Color style
$black: rgba(28, 28, 28);
$white: #FFFFFF;
$goldenRod: #FFCF6A;
$silver: #B0B0B0;
$colorText: #AE8D67; //piu chiaro
$colorFont: #AE8652;
$colorPosts: #F5F5F5; //non è nella palette
//footer top
$codGray: #111110;
//footer bottom
$codGrayTwo: #191817;