// Color style
$black: rgba(28, 28, 28);
$white: #FFFFFF;
$goldenRod: #FFCF6A;
$silver: #B0B0B0;
$colorText: #AE8D67; //piu chiaro
// $colorFont: #AE8652;
$colorPosts: #F5F5F5; //non è nella palette
//footer top
$codGray: #111110;
//footer bottom
$codGrayTwo: #191817;

$colorHover: #65401e;

// CHANGE RESQUEST
// Non si trova nella palette fornita
$colorFrom: #be9359;

// color TO
$colorTo: #409AD3;

// si cambia il coloText dato che è il principale
$colorFont: #409AD3;