@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abril Fatface', cursive;
}

img {
    max-width: 100%;
}

// style per il button usato nel sito
.my-btn {
    border: 2px solid $colorFont;
    background-color: transparent;
    color: $colorFont;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial;
}

.my-btn:hover {
    color: $colorHover;
    border: 2px solid $colorHover;
}

// usato per la centratura
.my-center {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}